.hide-scrollbar{
    scrollbar-width:none;
}
html, body, #root {
  background-color: #1f2937; /* Tailwind gray-800 */
  min-height: 100%;
}
html,
body {
  overflow-x: hidden;
}
/* Hide scrollbar everywhere */

/* Chrome, Safari */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE/Edge */
* {
  -ms-overflow-style: none;
}
